.photo {
    height: 180px;
    width: 180px;
    min-height: 100%

}

form {
    background: #55acf3;
    padding: 1.5em;
    border-radius: 1em;
    min-height: 100%

}
.chart {
    display: inline-flex;
    horiz-align: center;
    vertical-align: center;
    height: 500px;
    width: 500px;
    object-fit: contain;
    min-height: 100%

}

.chart_container {
    float: left;
}

.center {
    display: inline-flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
    min-height: 100%
}


.error-message {
    margin-top: 1em;
    color: red;
}

.fileDrop {
    background: #f5f5f5;
    border: 1px dashed #c2c2c2;
    border-radius: 3px;
    text-align: center;
    padding: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    min-height: 100%

}

.fileDrop:hover {
    background: rgb(194, 243, 194);
    border: 1px dashed #333;
    min-height: 100%

}