.photo {
    height: 180px;
    width: 180px;
}

form {
    background: #55acf3;
    padding: 1.5em;
    border-radius: 1em;
}
.random-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.center {
    display: inline-flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
}
.example {
    text-align: center;
    border: solid;
}

.error-message {
    margin-top: 1em;
    color: red;
}

.fileDrop {
    background: #f5f5f5;
    border: 1px dashed #c2c2c2;
    border-radius: 3px;
    text-align: center;
    padding: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
}

.fileDrop:hover {
    background: rgb(194, 243, 194);
    border: 1px dashed #333;
}