.photo {
    height: 180px;
    width: 180px;
    min-height: 100%

}

form {
    background: #55acf3;
    padding: 1.5em;
    border-radius: 1em;
}
.chart {
    max-height: 600px;
    max-width: 600px;
    width: 550px;
}

.warning {
    background: #ffefbf;
    border: 1px dashed #fff8b0;
    text-align: center;
    padding: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}


.center {
    display: inline-flex;
    padding-top: 30px;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
    horiz-align: center;
}
.centerChart {
    display: flex;

}


.error-message {
    margin-top: 1em;
    color: red;
}

.fileDrop {
    background: #f5f5f5;
    border: 1px dashed #c2c2c2;
    border-radius: 3px;
    text-align: center;
    padding: 36px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;

}

.fileDrop:hover {
    background: rgb(194, 243, 194);
    border: 1px dashed #333;
}